@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(145deg, #39985f, #55618a);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Center Card */
.wrapper {
  width: 350px;
}

.todo-container {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(16, 15, 15, 0.15);
}

.todo-container h2 {
  margin-bottom: 12px;
  font-weight: 600;
  color: #333;
}

/* Input Box */
.input-box {
  display: flex;
  gap: 10px;
}

.input-box input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.add-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: #33b2e4;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: .2s ease;
}

.add-btn:hover {
  background: #a9a6ad;
}

/* Tasks */
.task-list {
  margin-top: 20px;
  list-style: none;
}

.task-item {
  background: #dad9e2;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item span {
  color: #333;
}

.delete-btn {
  background: #03492e;
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  color: rgb(180, 80, 80);
  cursor: pointer;
  transition: .2s;
}

.delete-btn:hover {
  background: #d93636;
}

/* Footer */
.footer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clearAll {
  padding: 6px 14px;
  background: #e0e1df;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
}

#clearAll:hover {
  background: #cdced4;
}
